<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div>
        <div>
          <h1 class="text-white header_termeni">Termeni si conditii</h1>
          <h2 class='text-white paragraf_termeni_bold'>Termeni generali</h2>
          <p class='text-white paragraf_termeni'>
            SooperStore este denumirea comerciala a SOOPERSTORE SRL,
            persoana juridica cu sediul in Malibu,
            inregistrata la Registrul Comertului sub numarul nr. xxx/xxxx/xxxx,
            avand CUI ROxxxxxxxx, numita in continuare SOOPERSTORE SERVICE.</p>
          <p class='text-white paragraf_termeni'>
            Va rugam sa cititi acesti termeni si conditii cu atentie pentru folosirea
            in cele mai bune conditii a site-ului. Utilizarea acestui site implica acceptarea
            tacita a termenilor si a conditiilor de utilizare prezentate mai jos, care reprezinta
            intelegerea (contractul) dintre parti.</p>
            <h2 class='text-white paragraf_termeni_bold'>Drepturi de autor</h2>
            <p class='text-white paragraf_termeni'>
              SOOPERSTORE SERVICE garanteaza utilizatorului acces limitat pe site-ul www.sooperstore.ro,
              in interes personal (efectuarea de comenzi online sau informare) si nu ii confera dreptul
              de a descarca sau de a modifica partial sau integral site-ul, de a reproduce partial sau
              integral site-ul, de a copia, de a vinde/revinde sau de a exploata site-ul in orice alta
              maniera, in scopuri comerciale sau contrare intereselor companiei SOOPERSTORE SERVICE fara acordul
              prealabil scris al acesteia.</p>
            <p class='text-white paragraf_termeni'>
              Bazele de date, programe, elemente de grafica, sunt proprietatea SC SOOPERSTORE SERVICE SRL, sau, dupa caz,
              a furnizorilor produselor oferite prin intermediul site-ului si este protejat de Legea nr. 8/1996,
              privind dreptul de autor si drepturile conexe, cu modificarile si completarile ulterioare.</p>
              <p class='text-white paragraf_termeni'>
                Copierea, stocarea, modificarea partiala sau in intregime a site-ului este strict interzisa si se
                pedepseste conform legilor in vigoare privind protectia drepturilor de autor. In calitate de utilizator,
                dumneavoastra sunteti pe deplin acord cu cele mai sus mentionate.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
