<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">         
            
                <div class="col-xl-3 col-lg-6">  
                    <div *ngFor="let item of items" style="margin-bottom: 30px;">                
                    <div class="card card-stats mb-4 mb-xl-0">                   
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Nume</h5>
                            <span class="h2 font-weight-bold mb-0">{{item.item.nume}}</span>
                          </div>
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Nr</h5>
                            <span class="h2 font-weight-bold mb-0">{{item.numar}}</span>
                          </div>
                          <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                              <i class="ni ni-cart"></i>
                            </div>
                          </div>
                          <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Pret</h5>
                            <span class="h2 font-weight-bold mb-0">{{item.item.pret * item.numar}}</span>
                          </div>
                        </div>
                      </div>
                    </div>               
                 </div>        
                </div>             
        </div>
      </div>
    </div>
</div>
   
  