<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
          <img src="./assets/img/brand/red.png" width="200" height="100" class="navbar-brand pt-0 poza_logo navbar-brand-img" alt="...">
          <img src="./assets/img/brand/shopping.png" class="navbar-brand pt-0 poza_shopping navbar-brand-img" alt="...">
          <img src="./assets/img/brand/shopping1.png" width="600px" height="600px" class="navbar-brand pt-0 poza_shopping1 navbar-brand-img" alt="...">
        <div>
          <h1 class="header_startpage">Bun venit!</h1>
          <div>
            <a routerLink="/dashboard"><button class="btn btn-success pull-right button_margins">Mai Departe</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
