<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div>
        <div>
          <h1 class="text-white header_aboutus">Despre noi</h1>
          <img src="./assets/img/brand/cheemsitz.png" width="200" height="180" style="position: fixed; right: 20px; bottom: 150px;" class="navbar-brand pt-0 navbar-brand-img" alt="...">
          <img src="./assets/img/brand/Cheebs.png" width="200" height="180" style="position: fixed; right: 220px; bottom: 140px;" class="navbar-brand pt-0 navbar-brand-img" alt="...">
          <h2 class='text-white paragraf_aboutus_bold'>Stefan si Mihai</h2>
          <p class='text-white paragraf_aboutus' style="margin-right: 350px;">
            Doi prieteni foarte buni. Contact: 0712345678</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

